:root {
  --polka-bg-image:
  radial-gradient(rgb(215, 196, 237) 10%, transparent 13.6%),
  radial-gradient(rgb(215, 196, 237) 10%, transparent 13.6%);
  --polka-bg-position: 0px 0px, 4px 4px;
  --polka-bg-size: 8px 8px;
  --polka-bg-color: rgb(248, 247, 247);
}

body {
  background-image: var(--polka-bg-image);
  background-position: var(--polka-bg-position);
  background-size: var(--polka-bg-size);
  background-color: var(--polka-bg-color);
}

html, body {
  overflow-x: hidden;
} 

/* div.main {
  max-width: 1280px;
  align-items: center;
} */

div.headerContacts {
  padding: 2rem;
  /* background-image: url("/images/dottedline.png");
  background-size: 35% 100%;
  background-repeat: no-repeat;
  background-position-x: center; */
}

/* Nav Bar */
nav#hireMeLink {
  display: flex;
  position: fixed;
  background-color: #f760a9;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  box-shadow: inset 0 0 0 1px #f760a9;
  transition: top .5s;
  z-index: 2;
  justify-content: center;
  align-items: center;
  /* line-height: 70px; */
  box-shadow: rgb(136, 136, 136) 5px 10px;
}

a.hireMeLink {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;  
  font-size: clamp(1.5rem, 2vw, 2rem);
}

nav#hireMeLink:hover {
  background-color: #ecb226;
}

#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  margin-top: .5rem;
  margin-left: 2rem;
  list-style: none;
  transition: top 0.5s;
  background-color: #c39fe5;
  border-radius: 2em;
  height: 3rem;
}

ul.navbar{
  padding-left: 1rem;
}

a.navLi {
  text-decoration: none;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  font-weight: bold;
  color: #000;
}

a.navLi:hover, a.navLi:active {
  color: purple;
}


/* Profile */
#profileContainer{
  background-color: #feea7840;
  padding: 8rem 2rem 2rem 2rem;
}

h1.author{
  color: #131210;
  font-weight: bold;
  font-size: clamp(2rem, 2vw, 3rem);
}

p.description {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 500;
    margin: 0;
    text-align: center;
    margin-bottom: 5em;
  }

/* play icon overlay on featured image */

div.parent {
  position: relative;
}

img.play-overlay{
  position: absolute;
  max-height: clamp(8rem, 10vw, 10rem);
  left:0;
  top:0;
  right:0;
  bottom:0;
  margin:auto;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.074); */
}


/* Sections */

/* Projects Section */
div.projectsContainer{
  padding: 5px 0 2rem 0;
  background-color: #e9bfff30;
}

h2.projectHeader{
  margin: 1em 3em 0 3em;
  color: #131210;
  font-weight: bold
}

h3.projectTitle, h1.projectTitle{
  color: #4b4b4b;
  text-decoration: none;
  margin: 0;
  padding: 1rem;
}

h1.projectTitle{
  font-weight: bold;
}

div.project{
  background-color: #e9bfff60;
  margin: 2rem 1rem;
  padding: 3rem 1rem;
  border-radius: 2rem;
}

div.projectInfo {
  /* vertically center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p.projectBlurb{
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: left;
  vertical-align: middle;
  margin: 0;
  color: #4b4b4b;
}

li.projectBlurbMarker::marker {
  color: #c39fe5;
  font-size: 20px;
}

/* Additional Section */

div.additionalContainer{
  padding: 5px 0 2rem 0;
  background-color: #ffbdaf30;
}

h2.additionalHeader{
  margin: 1em 3em 0 3em;
  border-radius: 2em;
  color: #131210;
  font-weight: bold
}

div.additional{
  background-color: #ffbdaf60;
  margin: 2rem 1rem;
  padding: 3rem 1rem;
  border-radius: 2rem;
}


/* Contact Section */
div.contactsContainer{
  padding: 5px 2rem 2rem 2rem;
  background-color: #fdef7e30;
}

h4.contactMessage{
  margin: 1rem;
}

h2.contactHeader{
  margin: 1em 3em 0 3em;
  font-weight: bold;
  color: #131210
}

ul.contactNav{
  margin: 0 2px 5rem 2px;
  flex-wrap: wrap;
}


/* Pages */ 
a.contentLink{
  text-decoration: none;
}

img.featuredImage {
  position: relative;
  margin: auto;
  padding: .5rem;
  height: clamp(15rem, 25vw, 30rem);
  border-radius: 15px;
  filter: blur(1.2px) contrast(90%);
}

img.courierFeaturedImage {
  width: 95%;
}

img.pageGif {
  position: relative;
  left:0;
  top:0;
  right:0;
  bottom:0;
  /* margin:auto; */
  height: clamp(5rem, 30vw, 40rem);
  border-radius: 15px;
}

div.parent:hover img.featuredImage {
  filter: blur(0px) contrast(1);
}

div.parent:hover img.play-overlay{
  filter: opacity(0%);
}

div.repoLinks{
  padding: 1em;
}

a.repoLink {
  /* text-decoration: none; */
  padding: 1em;
  font-weight: bold;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #f698a9
}

a.repoLinks:hover, a.repoLinks:active {
  color: purple;
}










