div.languageIcon {
    flex-wrap: wrap;
}

img.languageIcon{
    max-height: clamp(40px, 8vw, 60px);
    padding: 1em 0 0 0;
    filter: grayscale(.2) contrast(0.9);
}

p.languageIconText {

    font-size: clamp(.8rem, .3vw, 1rem);
}

img.contactIcon{
    max-height: 4rem;
    padding: 1em 2em 0 2em;
    filter: grayscale(25%) opacity(0.9);
}

img.contactIcon:hover{
    transform: scale(1.05);
    filter: grayscale(0) opacity(1);
}

img.headerContact {
    max-height: clamp(55px, 15vw, 110px);
    margin: 1rem;
}

img.headerRepoLink {
    max-height: clamp(45px, 10vw, 95px);
}

div.languagesIcons {
    /* center icons */
    display: flex;
    justify-content: center;
    align-items: center;
}

