<div class="programmingLanguagesIcons d-none d-sm-block">
    <div class="row languagesIcons">
        <div class="col-xs-6 col-sm-6 col-md-1 col-lg languageIcon">
            <img class="languageIcon" src="/images/icons/typescript.png" alt="typescript">
            <p class="languageIconText">typescript</p>
        </div>
        <div class="ccol-xs-6 col-sm-6 col-md-1 col-lg languageIcon">
            <img class="languageIcon" src="/images/icons/javascript.png" alt="javascript">
            <p class="languageIconText">jacvascript</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-1 col-lg languageIcon">
            <img class="languageIcon" src="/images/icons/python.png" alt="python">
            <p class="languageIconText">python</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-1 col-lg languageIcon">
            <img class="languageIcon" src="/images/icons/html-5.png" alt="html-5">
            <p class="languageIconText">html</p>
        </div>
    <!-- </div>
    <div class="row"> -->
        <div class="col-xs-6 col-sm-6 col-md-1 col-lg languageIcon">
            <img class="languageIcon" src="/images/icons/css.png" alt="css">
            <p class="languageIconText">css</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-1 col-lg languageIcon">
            <img class="languageIcon" src="/images/icons/react.png" alt="react">
            <p class="languageIconText">react</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-1 col-lg languageIcon">
            <img class="languageIcon" src="/images/icons/nodejs.png" alt="nodejs">
            <p class="languageIconText">nodejs</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-1 col-lg languageIcon">
            <img class="languageIcon" src="/images/icons/docker.png" alt="docker">
            <p class="languageIconText">docker</p>
        </div>
    </div>
</div>