<div class="programmingLanguagesIcons">
    <div>
        <img class="languageIcon" src="/images/icons/typescript.png" alt="typescript">
        <img class="languageIcon" src="/images/icons/javascript.png" alt="javascript">
        <img class="languageIcon" src="/images/icons/python.png" alt="python">
        <img class="languageIcon" src="/images/icons/html-5.png" alt="html-5">
    </div>
    <div>
        <img class="languageIcon" src="/images/icons/css.png" alt="css">
        <img class="languageIcon" src="/images/icons/react.png" alt="react">
        <img class="languageIcon" src="/images/icons/nodejs.png" alt="nodejs">
        <img class="languageIcon" src="/images/icons/docker.png" alt="docker">
    </div>
</div>